## 고양이와 개는 몇마리 있을까

In [ ]:
SELECT
    ANIMAL_TYPE, COUNT(ANIMAL_TYPE)
FROM
    ANIMAL_INS
GROUP BY
    ANIMAL_TYPE
HAVING
    ANIMAL_TYPE = 'cat' or ANIMAL_TYPE = 'dog'
ORDER BY
    ANIMAL_TYPE

## 동명 동물 수 찾기

In [ ]:
SELECT
   NAME, COUNT(NAME)
FROM
    ANIMAL_INS
WHERE
    NAME IS NOT NULL
GROUP BY
    NAME
HAVING
    COUNT(NAME) > 1
ORDER BY
    NAME

## 입양 시간 구하기

In [ ]:
SELECT
    HOUR(DATETIME) AS HOUR , COUNT(HOUR(DATETIME))
FROM 
    ANIMAL_OUTS 
GROUP BY
    HOUR
HAVING
    HOUR BETWEEN 9 AND 19
ORDER BY
    HOUR

## 입양 시간 구하기2