## 우유와 요거트가 담긴 장바구니

In [ ]:
SELECT
    DISTINCT a.CART_ID    
FROM
    CART_PRODUCTS a, CART_PRODUCTS b
WHERE
    a.CART_ID = b.CART_ID and a.NAME ='Milk' and b.NAME = 'Yogurt'
ORDER bY
    a.CART_ID

## test

In [ ]:
SELECT
    ID,COUNT(USER_ID),
    PRICE (
        SELECT SUM(PRICE)
        FROM PURCHASES p
        LEFT JOIN CHARACTERS c
        on p.time = c.name
        where p.user_id
        )
FROM
    GAME_USERS G
LEFT JOIN
    PURCHASES P
on
    G.ID = P.USER_ID

In [ ]:
select a.id,c.price 
from game_users as a 

left join purchases as b 
on a.ID =  b.user_id 

left join characters  as c 
on b.item = c.name

group by a.id

order by a.id

In [ ]:
SELECT A.ID, A.CHA_NUM, A.PRICE
FROM 
	(SELECT PC.ID, COUNT(PC.NAME) AS CHA_NUM, SUM(CH.PRICE) AS PRICE
	FROM CHARACTERS AS CH
	JOIN PURCHASES AS PC
	ON CH.NAME - PC.NAME
	GROUP BY PC.ID) A
LEFT JOIN GAME_USER G
ON A.ID=G.ID

## test2

In [ ]:
SELECT
    DISTINCT USER_ID
FROM
    CARTS C
LEFT JOIN
    CART_PRODUCTS P
ON 
    C.ID = P.ID    
WHERE 
    P.NAME = '밀가루'
ORDER BY
    USER_ID