## 모든레코드 조회하기

In [ ]:
SELECT
    *
FROM
    ANIMAL_INS
ORDER BY 
    ANIMAL_ID

## 역순 정렬하기

In [ ]:
SELECT
    NAME,DATETIME
FROM
    ANIMAL_INS
ORDER BY
    ANIMAL_ID DESC

## 아픈 동물 찾기

In [ ]:
SELECT
    ANIMAL_ID,NAME
FROM
    ANIMAL_INS
WHERE
    INTAKE_CONDITION = 'Sick'
ORDER BY
    ANIMAL_ID

## 어린 동물 찾기

In [ ]:
SELECT
    ANIMAL_ID,NAME
FROM
    ANIMAL_INS
WHERE 
    INTAKE_CONDITION <> 'Aged'
ORDER BY
    ANIMAL_ID

## 동물의 아이디와 이름

In [ ]:
SELECT
    ANIMAL_ID,NAME
FROM
    ANIMAL_INS
ORDER BY
    ANIMAL_ID

## 여러 기준으로 정렬하기

In [ ]:
SELECT
    ANIMAL_ID,NAME,DATETIME
FROM
    ANIMAL_INS
ORDER BY
    NAME,DATETIME DESC

## 상위 N개의 레코드

In [ ]:
SELECT
    NAME
FROM
    ANIMAL_INS
ORDER BY
    DATETIME
LIMIT 1