## 최대값 구하기

In [ ]:
SELECT
    DATETIME
FROM 
    ANIMAL_INS
ORDER BY
    DATETIME DESC
LIMIT
    1

## 최소값 구하기

In [ ]:
SELECT
    DATETIME
FROM 
    ANIMAL_INS
ORDER BY
    DATETIME 
LIMIT
    1

## 동물 수 구하기

In [ ]:
SELECT
    COUNT(ANIMAL_ID)
FROM 
    ANIMAL_INS

## 중복제거하기

In [ ]:
SELECT
    COUNT(DISTINCT NAME)    
FROM 
    ANIMAL_INS
WHERE
    NAME is not NULL